.App {
  height:650px;
  text-align: center;
  color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Jpp {
  height: 600px;
  width: 400px;
  background-color: black;
}